.vscode
/out
/in
/backend/__pycache__
/frontend/node_modules
/frontend/README.md
/frontend/.gitignore
/frontend/.env
/frontend/.dockerignore
/backend/.dockerignore
/backend/requirements.txt
/backend/README.Docker.md
.env