html, body{
    margin: 0;
    height: 100%;
}

.app-container{
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.282);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background-color: red;
    width: 100%;
    height: 50px;
    text-align: center;
}

h2{
    margin-top: 10px;
}

.input-container{
    margin: 5px 5px;
    width: 100%;
    display: flex;
    justify-content: center;
}

button{
    border: none;
    background-color: rgba(255, 0, 0, 0.964);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgba(196, 5, 5, 0.964);
    border: 1px solid white;
}

input{
    width: 75%;
    outline: none;
    border: none;
    border-radius: 3px;
}

#GETButton{
    width: 75px;
    border: none;
    border-radius: 3px;
    height: 35px;
    margin-left: 5px;
}

.previewArea{
    margin-top: 25px;
    height: 69dvh;
    width: 99%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.previewArea img{
    display: block;
    /* border: 1px solid blue; */
    width: 420px;
    height: 300px;
    text-align: center;
}

.videoText{
    display: block;
    margin-top: 20px;
    text-align: left;
}

.select-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}

.select-label {
  font-size: 0.875rem;
  color: #555;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100%;
  padding: 0.75rem 2.5rem 0.75rem 0.75rem;
  font-size: 1rem;

  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #222;

  /* custom arrow */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8'%3E%3Cpath d='M1 1l5 5 5-5' stroke='%23666' stroke-width='2' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
}

.select:focus {
  outline: none;
  border-color: #4f46e5;
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.2);
}

.download-controls{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

#DownloadButton{
    margin-left: 10px;
    border-radius: 8px;
}